**/.DS_Store
**/.AppleDouble
**/.LSOverride
**/.idea/*

Icon

**/*.xcuserstate
**/*.xcuserdata/
**/*.xcodeproj/xcuserdata/
**/*.xcodeproj/project.xcworkspace/xcuserdata/
**/*.xcodeproj/project.xcworkspace/xcshareddata/
**/*.xcworkspace/xcuserdata/